body {
  width: 100%;
  height: 100%;
  background-color: #263238;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  width: 612px;
  height: 100%;
  display: block;
  background-color: #313e45;
  border-radius: 25px;
   border: 5px solid #eceff1; 
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .container {
    width: 350px;
    height: 100%;

  }
}

.wrapper {
  margin-top: 10%;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    margin: 2%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

span {
  float: right;
  padding: 10px;
  margin: 10px;
}

span > .hamburger {
  float: left;
}

h1 {
  letter-spacing: .1em;
  font-size: 1.7em;

}

.currentWeather {
  margin: 2%;
}

.forecastWeather {
  margin: 2%;
}
